body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameCanvas {
    border: 1px solid black;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.myHeader{
    position: fixed;
    top:0px;
    height:60px;
    width: 100%;
    box-shadow: 3px 3px 3px 3px #4d181889;
    background-color: #9D1818;
}
.myHeader .logo{
    height: 100%;
    width: auto;
}