body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/back.webp');
    background-repeat: repeat;
    background-size: 600px;
}

a{
    transition: all 0.3s;
}
a:hover{
    opacity: 0.8;
}
#gameCanvas {
    border: 1px solid black;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.myHeader{
    position: fixed;
    top:0px;
    height:60px;
    gap:6px;
    padding-right:12px;
    width: calc(100% - 12px);
    box-shadow: 3px 3px 3px 3px #4d181889;
    background-color: #9D1818;
    display: flex;
    align-items: center;
}
.myHeader .logo{
    height: 100%;
    width: auto;
}
.myHeader .logo img{
    height: 100%;
    width: auto;
}
.myHeader .spacer{
    flex:1;
}
.myHeader .menu-button{
    height:35px;
    width:auto;
    box-shadow: 2px 2px 1px 1px #4d181889;
}
.dammyHeader{
    height:60px;
}
.main-canvas{
    width: min(100vw, calc(100vh - 60px) * 72 / 128);
    height: min(100vw * 128 / 72, calc(100vh - 60px));
}